.NM {
  background-color: #15395b;
}
.HD {
  background-color: #595014;
}
.HR {
  background-color: #58181c;
}
.DT {
  background-color: #301c4d;
}
.FM {
  background-color: #593815;
}
.TB {
  background-color: #5b5b5b;
}
